.elementor-1414 .elementor-element.elementor-element-42164307 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-1414 .elementor-element.elementor-element-42164307 {border-style: solid;border-width: 1px 0px 0px 0px;border-color: #e6e3e3;transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin-top: 180px;margin-bottom: 0px;padding: 10px 0px 0px 0px;}
.elementor-1414 .elementor-element.elementor-element-42164307 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-1414 .elementor-element.elementor-element-6cc9480e {text-align: center;}
.elementor-1414 .elementor-element.elementor-element-5bbc09ca img {width: 125px;}
.elementor-1414 .elementor-element.elementor-element-759f5562 img {width: 125px;}
.elementor-1414 .elementor-element.elementor-element-5eb7cfaa img {width: 125px;}
.elementor-1414 .elementor-element.elementor-element-2237e974 img {width: 125px;}
.elementor-1414 .elementor-element.elementor-element-1f67e2d3 img {width: 125px;}
@media (max-width:1024px) {.elementor-1414 .elementor-element.elementor-element-42164307 {margin-top: 80px;margin-bottom: 0px;padding: 20px 0px 0px 0px;}
	.elementor-1414 .elementor-element.elementor-element-6cc9480e > .elementor-widget-container {margin: 0px 0px 20px 0px;}
	.elementor-1414 .elementor-element.elementor-element-5bbc09ca img {width: 100px;}
	.elementor-1414 .elementor-element.elementor-element-759f5562 img {width: 100px;}
	.elementor-1414 .elementor-element.elementor-element-5eb7cfaa img {width: 100px;}
	.elementor-1414 .elementor-element.elementor-element-2237e974 img {width: 100px;}
	.elementor-1414 .elementor-element.elementor-element-1f67e2d3 img {width: 100px;}}
@media (max-width:767px) {.elementor-1414 .elementor-element.elementor-element-3e2a3b21 {width: 50%;}
	.elementor-1414 .elementor-element.elementor-element-35e09351 {width: 50%;}
	.elementor-1414 .elementor-element.elementor-element-112b8f18 {width: 50%;}
	.elementor-1414 .elementor-element.elementor-element-47cedbcb {width: 50%;}}
@media (max-width:1024px) and (min-width:768px) {.elementor-1414 .elementor-element.elementor-element-62700f26 {width: 100%;}
	.elementor-1414 .elementor-element.elementor-element-3e2a3b21 {width: 20%;}
	.elementor-1414 .elementor-element.elementor-element-35e09351 {width: 20%;}
	.elementor-1414 .elementor-element.elementor-element-112b8f18 {width: 20%;}
	.elementor-1414 .elementor-element.elementor-element-47cedbcb {width: 20%;}
	.elementor-1414 .elementor-element.elementor-element-2d615410 {width: 20%;}}