.elementor-649 .elementor-element.elementor-element-4d89a9a {padding: 80px 0px 100px 0px;}
.elementor-649 .elementor-element.elementor-element-617a17d {text-align: left;}
.elementor-649 .elementor-element.elementor-element-617a17d > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-649 .elementor-element.elementor-element-ee32c7b {--e-image-carousel-slides-to-show: 1;}
.elementor-649 .elementor-element.elementor-element-ee32c7b > .elementor-widget-container {margin: 5px 0px 0px 0px;}
.elementor-649 .elementor-element.elementor-element-35556f5 > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-649 .elementor-element.elementor-element-8cff307 {text-align: center;}
.elementor-649 .elementor-element.elementor-element-4ddce36b > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-649 .elementor-element.elementor-element-4ddce36b:not(.elementor-motion-effects-element-type-background), .elementor-649 .elementor-element.elementor-element-4ddce36b > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-649 .elementor-element.elementor-element-4ddce36b {border-style: solid;border-width: 1px 0px 0px 0px;border-color: #e6e3e3;transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin-top: 0px;margin-bottom: 0px;padding: 10px 0px 0px 0px;}
.elementor-649 .elementor-element.elementor-element-4ddce36b > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-649 .elementor-element.elementor-element-11b17a62 {text-align: center;}
.elementor-649 .elementor-element.elementor-element-18a4cf6c img {width: 125px;}
.elementor-649 .elementor-element.elementor-element-630ff131 img {width: 125px;}
.elementor-649 .elementor-element.elementor-element-b107a9c img {width: 212px;}
.elementor-649 .elementor-element.elementor-element-34107667 img {width: 125px;}
.elementor-649 .elementor-element.elementor-element-2baca8de img {width: 254px;}
@media (max-width:1024px) and (min-width:768px) {.elementor-649 .elementor-element.elementor-element-30ae2b39 {width: 100%;}
	.elementor-649 .elementor-element.elementor-element-436b4c43 {width: 20%;}
	.elementor-649 .elementor-element.elementor-element-2eab0dec {width: 20%;}
	.elementor-649 .elementor-element.elementor-element-7cac01a0 {width: 20%;}
	.elementor-649 .elementor-element.elementor-element-8029c6a {width: 20%;}
	.elementor-649 .elementor-element.elementor-element-97a030 {width: 20%;}}
@media (max-width:1024px) {.elementor-649 .elementor-element.elementor-element-4d89a9a {padding: 50px 50px 50px 50px;}
	.elementor-649 .elementor-element.elementor-element-4ddce36b {margin-top: 80px;margin-bottom: 0px;padding: 20px 0px 0px 0px;}
	.elementor-649 .elementor-element.elementor-element-11b17a62 > .elementor-widget-container {margin: 0px 0px 20px 0px;}
	.elementor-649 .elementor-element.elementor-element-18a4cf6c img {width: 100px;}
	.elementor-649 .elementor-element.elementor-element-630ff131 img {width: 100px;}
	.elementor-649 .elementor-element.elementor-element-b107a9c img {width: 100px;}
	.elementor-649 .elementor-element.elementor-element-34107667 img {width: 100px;}
	.elementor-649 .elementor-element.elementor-element-2baca8de img {width: 100px;}}
@media (max-width:767px) {.elementor-649 .elementor-element.elementor-element-4d89a9a {padding: 50px 25px 50px 25px;}
	.elementor-649 .elementor-element.elementor-element-617a17d {text-align: left;}
	.elementor-649 .elementor-element.elementor-element-436b4c43 {width: 50%;}
	.elementor-649 .elementor-element.elementor-element-2eab0dec {width: 50%;}
	.elementor-649 .elementor-element.elementor-element-7cac01a0 {width: 50%;}
	.elementor-649 .elementor-element.elementor-element-8029c6a {width: 50%;}}