.elementor-692 .elementor-element.elementor-element-eee1a1a {text-align: center;}
.elementor-692 .elementor-element.elementor-element-60af41a {text-align: center;}
.elementor-692 .elementor-element.elementor-element-60af41a .elementor-heading-title {color: var(--e-global-color-text);}